.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: #cee2ee;
  color: #fff;

  .title {
    color: #000;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 10rem;
    border-radius: 10px;

    .input {
      width: 10rem;
      height: 2rem;
      padding: 0.1rem;
      padding-left: 10px;
      background: transparent;
      border: 1px solid rgb(209, 203, 203);
      outline: transparent;

      &::placeholder {
        color: #fff;
      }
    }

    .submitBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12rem;
      height: 3rem;
      background-color: #99d98c;
      color: #fff;
      border-radius: 10px;
    }
  }
}
