.Stats {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;

  .username {
    font-size: 1.6rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 20rem;
    height: 5rem;
    border-radius: 10px;

    .name {
      font-size: 1.5rem;
    }

    .value {
      font-size: 1.5rem;
    }
  }
}
