.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 6rem;
  width: 100vw;
  height: 100vh;

  .gameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: auto;
    border-radius: 10px;

  }
}
